body {
    background-color: honeydew;
}

/* #head {
    background-color: #3EB489;
    color: #191919;
    text-align: center;
    padding: 4px;
    top: 0%;
    position: sticky;
    position: -webkit-sticky;
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    bottom: 0%;
    text-align: center;
}

#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    margin: 0%;
    top: 30%;
    background-color: rgb(120, 120, 120);
}

.menu li {
    padding: 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    width: auto;
    padding: 0%;
    top: 160px;
    background-color: rgb(226, 216, 216);
}

.dropdown li {
    display: block;
    color: steelblue;
}

.dropdown li:hover {
    background-color: rgb(113, 108, 108);
} */

#covidcare {
    margin: 0px;
    /* overflow-x: auto; */
    white-space: nowrap;
}

#diabetescare {
    margin: 0px;
    /* overflow-x: auto; */
    white-space: nowrap;
}

.product {
    position: relative;
    border-radius: 10px;
    margin: 5px;
    width: 364px;
    height: 300px;
    /* border: 2px solid rgb(0, 255, 76); */
    background-color: rgb(243, 243, 253);
    display: inline-block;
    color: black;
    
}

.product img {
    /* width: 300px;
    height: 180px;
    display: inline-block; */
    border-radius: 10px;
    width: 300px;
    height: 200px;
    position: absolute;
    padding-left: 34px;

}
